<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @holidaybirdfc.channel %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @holidaybirdfc.sku %>
</p>

<p>
  <strong>Description:</strong>
  <%= @holidaybirdfc.description %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @holidaybirdfc.cc %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @holidaybirdfc.forecast %>
</p>

<p>
  <strong>Harvest:</strong>
  <%= @holidaybirdfc.harvest %>
</p>

<p>
  <strong>Period:</strong>
  <%= @holidaybirdfc.period %>
</p>

<p>
  <strong>Uom:</strong>
  <%= @holidaybirdfc.uom %>
</p>

<%= link_to 'Edit', edit_holidaybirdfc_path(@holidaybirdfc) %> |
<%= link_to 'Back', holidaybirdfcs_path %>
