<% if user_signed_in? %>
  <span>Signed in as <%= current_user.email %></span>
<% else %>
  <span>No user currently signed in</span>
<% end %>
<div id="navbar">
  <% if user_signed_in? %>
    <span><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></span>
    <span><%= link_to 'Edit user', edit_user_registration_path %></span>
    <% if current_user.admin %>
      <span><%= link_to 'Sign up new user', new_user_registration_path %></span>
    <% end %>
    <span><%= link_to "Forecast Home", "/" %></span>
  <% else %>
    <span><%= link_to 'Sign in', new_user_session_path %></span>
  <% end %>
</div>
<br>
<br>
